<h1>Portland Animal Shelter</h1>

<div class="row">
  #foreach($animal in $animals)
  <div class="span3">
    <br>$animal.getPhotoPath() </br>
    <br>$animal.getName()</br>
    <br>$animal.getGender()</br>
    <br>$animal.getAge()</br>
    <br>$animal.getBreed()</br>
    <br><a href="/animal/info/:id">$animal.getMoreInfo()</a></br>
    #end
  </div>
</div>
